.container-services {
  padding: 28px 0 0 0;

  .tabset-block.inner-pills {
    .nav {
      margin-top: 20px;
    }
    
    .nav-tabs .nav-link.active {
      border-top: 2px solid #f67402;
      color: #071322;
    }

    .tab-content {
      width: 100%;
    }
  }

  .form-work {
   /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;*/
    position: relative;

    .form-group {
      width: 100%;
      margin-top: 15px;

      label {
        font-size: 14px;
        font-weight: bold;
      }

      .form-control {
        margin-bottom: 5px;
      }

      .form-control:nth-child(3) {
        width: 30%;
      }

      .close {
        margin: -119px 10px 0 0;

        &:hover {
          color: red;
        }
      }
    }

    .submit {
      position: fixed;
      bottom: 100px;
      right: 100px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
}

.container {
  padding: 0;
}