<div class="container">
  <carousel>
    <slide>
      <img src="assets/images/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/2.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/3.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
  <section>
    <div class="panel" *ngIf="!isLoading">
      <div class="card mb-5 mt-5 border-dark" *ngFor="let news of newsArray" >
        <h5 class="card-header border-dark">{{news.title}}</h5>
        <div class="card-body" >
          <p class="card-text ">{{news.text}}</p>          
        </div>
        <div class="card-footer text-muted border-dark">{{news.data}}</div>
      </div>
    </div>
    <div class="panel mb-2" *ngIf="isLoading">
      <app-spinner></app-spinner>
    </div>
  </section>
</div>
