.edit {
	border: 2px solid transparent;
	background: linear-gradient(white, white) padding-box,
	            repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / .6em .6em;
	animation: ants 60s linear infinite;
  padding: 5px;
}

@keyframes ants { to { background-position: 100% 100% } }