.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .personal, .edit {
    width: 40%;
  }
} 

.alert, .panel-spinner {
  padding-right: 15px;
  padding-left: 15px;
  margin: 50px auto;
  max-width: 1140px;
}