.container-services {
  .tabset-block.inner-pills{
    .nav {
      margin-top: 20px;
    }
    
    .nav-link.active {
      border-top: 2px solid #f67402;
      color: #071322;
    }

    .tab-content {
      width: 100%;
    }
  }
}

.container {
  padding: 0;
}