<div class="inner">
  <p>К оплате принимаются как <strong>наличные</strong>, так и <strong>безналичные</strong> денежные средства.</p>    
  <p><strong>Наличные денежные средства</strong> принимаются к оплате только по г. Киеву и пригороду по факту доставки товара (стоимость установки кондиционера оплачивается отдельно - по факту монтажа).</p>
  <p>Оплата производится в национальной валюте Украины – гривне по курсу, указанному на сайте в момент осуществления заказа.<br>
  В случае, если подъем в квартиру крупногабаритного товара будет производиться вручную (без наличия работающего лифта), стоимость этой услуги составит 15 грн. за этаж.</p>
  <p><strong>Безналичные денежные средства</strong> принимаются&nbsp;от физических и юридических лиц на основании счетов, которые Вы можете получить от нас по факсу или электронной почте.</p>
  <p>Оплата производится через кассу любого банка или с расчетного счета фирмы.</p>
  <p><strong>Для юридических лиц</strong> все необходимые документы предоставляются вместе с товаром или высылаются по почте.</p>
  <p><strong>Доставка по Киеву</strong><br>
  Осуществляется бесплатно (если сумма Вашей покупки превышает 1500 грн.), на следующий день после оформления заказа по указанному Вами адресу. В случае если сумма покупки составляет менее 1500 грн., стоимость доставки будет составлять 40 грн.<br>
  <br>
  <strong>Доставка в пригород</strong><br>
  Осуществляется платно и рассчитывается: 5 грн./км от границы Киева до места доставки, на следующий день после оформления заказа по указанному Вами адресу.</p>
  <p><strong>Доставка по Украине </strong><br>
  Стоимость доставки оплачивается клиентом во время получения товара. Доставка осуществляется одним из перевозчиков – Интайм, Автолюкс, Ночной экспресс (способ доставки Вы можете оговорить с нашим консультантом при уточнении заказа).</p>
  <p>Доставка будет произведена в течении 2-3 дней после поступления денег на наш расчетный счет в офис компании перевозчика в город из которого был сделан заказ.</p>
</div>
