<div class="table-responsive">
  <table class="table">
      <table class="attribute table">
          <thead>
            <tr>
              <td colspan="2"><b>{{tableData.title_1}}</b></td>
            </tr>
            </thead>
              <tbody>
                <tr>
                  <td>Тип</td>
                  <td>{{tableData.typeInner}}</td>
                </tr>
                <tr>
                  <td>Тип установки внутреннего блока</td>
                  <td>{{tableData.typeOutter}}</td>
                </tr>
                <tr>
                  <td>Рекомендованная площадь помещения (м²)</td>
                  <td>{{tableData.square}}</td>
                </tr>
                <tr>
                  <td>Тип фреона</td>
                  <td>{{tableData.frion}}</td>
                </tr>
                <tr>
                  <td>Холодопроизводительность (кВт)</td>
                  <td>{{tableData.freezPower}}</td>
                </tr>
                <tr>
                  <td>Теплопроизводительность (кВт)</td>
                  <td>{{tableData.heatPower}}</td>
                </tr>
                <tr>
                  <td>Уровень шума, внутренний блок (дБ(А))</td>
                  <td>{{tableData.noise}}</td>
                </tr>
              </tbody>
            <thead>
            <tr>
              <td colspan="2"><b>{{tableData.title_2}}</b></td>
            </tr>
            </thead>
              <tbody>
                <tr>
                  <td>Диаметр газовой магистрали (мм/дюйм)</td>
                  <td>{{tableData.gasPipe}}</td>
                </tr>
                <tr>
                  <td>Диаметр жидкостной магистрали (мм/дюйм)</td>
                  <td>{{tableData.liquidPipe}}</td>
                </tr>
                <tr>
                  <td>Воздухопроизводительность (м³/ч)</td>
                  <td>{{tableData.airCapacity}}</td>
                </tr>
              </tbody>
            <thead>
              <tr>
                <td colspan="2"><b>{{tableData.title_3}}</b></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Габаритные размеры/вн.блок (мм)</td>
                <td>{{tableData.mesuresInner}}</td>
              </tr>
              <tr>
                <td>Масса вн.блок (кг)</td>
                <td>{{tableData.weightInner}}</td>
              </tr>
              <tr>
                  <td>Габаритные размеры/нар.блок (мм)</td>
                  <td>{{tableData.mesuresOutter}}</td>
                </tr>
                <tr>
                  <td>Масса нар.блок (кг)</td>
                  <td>{{tableData.weightOutter}}</td>
                </tr>
            </tbody>
      </table>
  </table>
</div>
